[Unit]
Description=Zera DSP daemon

Requires=dev-zFPGA1dsp1.device
After=dev-zFPGA1dsp1.device

[Service]
ExecStart=/usr/bin/zdsp1d
Type=simple
User=zera-services
NoNewPrivileges=true
ProtectHome=true
StandardOutput=journal
SyslogLevel=info

[Install]
WantedBy=multi-user.target
