[Unit]
Description=SEC1000 daemon

[Service]
ExecStart=/usr/bin/sec1000d
Type=simple
# Avoid power off failure -> Send SIGKILL instead of SIGTERM
KillSignal=SIGKILL
User=zera-services
NoNewPrivileges=true
ProtectHome=true
StandardOutput=journal

[Install]
WantedBy=multi-user.target
