[Unit]
Description=Auto Store Journal and dumps
Requires=auto-journal-logger.socket

[Service]
ExecStart=/usr/bin/auto-journal-logger
Type=simple
User=operator
StandardOutput=journal

[Install]
WantedBy=multi-user.target
