[Unit]
Description=Auto Store Journal and dumps

[Service]
ExecStart=/usr/bin/auto-journal-logger
Type=simple
StandardOutput=journal
Requires=auto-journal-logger.socket

[Install]
WantedBy=multi-user.target
