[Unit]
Description=Coredump collector

[Service]
ExecStart=/usr/bin/coredump-collector
Type=simple
StandardOutput=journal

[Install]
WantedBy=multi-user.target
