[Unit]
Description=MT310S2 daemon

# We cannot let modulemanager start after us - we are running on particular
# ZERA device only
Before=modulemanager.service
ConditionKernelCommandLine=zera_device=mt310s2

# Mandatory devices (see systemd.device / 'escaping')
Requires=dev-zFPGA1reg.device
After=dev-zFPGA1reg.device
# see https://lists.fedoraproject.org/pipermail/devel/2012-January/160917.html
Requires=dev-i2c\x2d0.device
After=dev-i2c\x2d0.device

[Service]
ExecStart=/usr/bin/mt310s2d /etc/zera/mt310s2d/mt310s2d.xml
Type=notify
User=zera-services
NoNewPrivileges=true
ProtectHome=true
StandardOutput=journal
SyslogLevel=info

[Install]
WantedBy=modulemanager.service
